libId = ddGetObj("tsmcN65")
libPath = ddGetObjReadPath( libId )
pcfPath = strcat(libPath "/../models/spectre")
corAddProcess( "tsmcN65" pcfPath  "multipleModelLib" )

corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmos.scs" '("ff_rfmos" "fs_rfmos" "sf_rfmos" "ss_rfmos" "tt_rfmos" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmos_18.scs" '("ff_rfmos_18" "fs_rfmos_18" "sf_rfmos_18" "ss_rfmos_18" "tt_rfmos_18" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmos_25.scs" '("ff_rfmos_25" "fs_rfmos_25" "sf_rfmos_25" "ss_rfmos_25" "tt_rfmos_25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmos_33.scs" '("ff_rfmos_33" "fs_rfmos_33" "sf_rfmos_33" "ss_rfmos_33" "tt_rfmos_33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_std_mos.scs" '("ff" "fs" "sf" "ss" "tt" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_hvt.scs" '("ff_hvt" "fs_hvt" "sf_hvt" "ss_hvt" "tt_hvt" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_lvt.scs" '("ff_lvt" "fs_lvt" "sf_lvt" "ss_lvt" "tt_lvt" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_18.scs" '("ff_18" "fs_18" "sf_18" "ss_18" "tt_18" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_25.scs" '("ff_25" "fs_25" "sf_25" "ss_25" "tt_25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_25ud18.scs" '("ff_25ud18" "fs_25ud18" "sf_25ud18" "ss_25ud18" "tt_25ud18" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_25od33.scs" '("ff_25od33" "fs_25od33" "sf_25od33" "ss_25od33" "tt_25od33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_33.scs" '("ff_33" "fs_33" "sf_33" "ss_33" "tt_33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_na.scs" '("ff_na" "fs_na" "sf_na" "ss_na" "tt_na" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_na25.scs" '("ff_na25" "fs_na25" "sf_na25" "ss_na25" "tt_na25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_na25od33.scs" '("ff_na25od33" "fs_na25od33" "sf_na25od33" "ss_na25od33" "tt_na25od33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_na33.scs" '("ff_na33" "fs_na33" "sf_na33" "ss_na33" "tt_na33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_bip.scs" '("ff_bip" "ss_bip" "tt_bip" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_bip_npn.scs" '("ff_bip_npn" "ss_bip_npn" "tt_bip_npn" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio.scs" '("ff_dio" "ss_dio" "tt_dio" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_hvt.scs" '("ff_dio_hvt" "ss_dio_hvt" "tt_dio_hvt" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_lvt.scs" '("ff_dio_lvt" "ss_dio_lvt" "tt_dio_lvt" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_18.scs" '("ff_dio_18" "ss_dio_18" "tt_dio_18" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_25.scs" '("ff_dio_25" "ss_dio_25" "tt_dio_25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_25ud18.scs" '("ff_dio_25ud18" "ss_dio_25ud18" "tt_dio_25ud18" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_25od33.scs" '("ff_dio_25od33" "ss_dio_25od33" "tt_dio_25od33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_33.scs" '("ff_dio_33" "ss_dio_33" "tt_dio_33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_na.scs" '("ff_dio_na" "ss_dio_na" "tt_dio_na" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_na25.scs" '("ff_dio_na25" "ss_dio_na25" "tt_dio_na25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_na25od33.scs" '("ff_dio_na25od33" "ss_dio_na25od33" "tt_dio_na25od33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_na33.scs" '("ff_dio_na33" "ss_dio_na33" "tt_dio_na33" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_dnw.scs" '("ff_dio_dnw" "ss_dio_dnw" "tt_dio_dnw" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_dio_esd.scs" '("ff_dio_esd" "ss_dio_esd" "tt_dio_esd" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_res.scs" '("ff_res" "ss_res" "tt_res" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_disres.scs" '("ff_disres" "ss_disres" "tt_disres" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_mos_cap.scs" '("ff_mos_cap" "ss_mos_cap" "tt_mos_cap" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_mos_cap_25.scs" '("ff_mos_cap_25" "ss_mos_cap_25" "tt_mos_cap_25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rtmom.scs" '("ff_rtmom" "ss_rtmom" "tt_rtmom" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_mim.scs" '("ff_mim" "ss_mim" "tt_mim" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmvar.scs" '("ff_rfmvar" "ss_rfmvar" "tt_rfmvar" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmvar_25.scs" '("ff_rfmvar_25" "ss_rfmvar_25" "tt_rfmvar_25" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfjvar.scs" '("ff_rfjvar" "ss_rfjvar" "tt_rfjvar" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfres_sa.scs" '("ff_rfres_sa" "ss_rfres_sa" "tt_rfres_sa" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfres_rpo.scs" '("ff_rfres_rpo" "ss_rfres_rpo" "tt_rfres_rpo" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfmim.scs" '("ff_rfmim" "ss_rfmim" "tt_rfmim" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfrtmom.scs" '("ff_rfrtmom" "ss_rfrtmom" "tt_rfrtmom" ) )
corAddModelFileAndSectionChoices( "tsmcN65" "cor_rfind.scs" '("ff_rfind" "ss_rfind" "tt_rfind" ) )


corAddCorner( "tsmcN65" "typ" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmos.scs" "tt_rfmos" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmos_18.scs" "tt_rfmos_18" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmos_25.scs" "tt_rfmos_25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmos_33.scs" "tt_rfmos_33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_std_mos.scs" "tt" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_hvt.scs" "tt_hvt" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_lvt.scs" "tt_lvt" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_18.scs" "tt_18" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_25.scs" "tt_25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_25ud18.scs" "tt_25ud18" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_25od33.scs" "tt_25od33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_33.scs" "tt_33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_na.scs" "tt_na" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_na25.scs" "tt_na25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_na25od33.scs" "tt_na25od33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_na33.scs" "tt_na33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_bip.scs" "tt_bip" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_bip_npn.scs" "tt_bip_npn" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio.scs" "tt_dio" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_hvt.scs" "tt_dio_hvt" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_lvt.scs" "tt_dio_lvt" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_18.scs" "tt_dio_18" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_25.scs" "tt_dio_25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_25ud18.scs" "tt_dio_25ud18" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_25od33.scs" "tt_dio_25od33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_33.scs" "tt_dio_33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_na.scs" "tt_dio_na" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_na25.scs" "tt_dio_na25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_na25od33.scs" "tt_dio_na25od33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_na33.scs" "tt_dio_na33" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_dnw.scs" "tt_dio_dnw" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_dio_esd.scs" "tt_dio_esd" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_res.scs" "tt_res" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_disres.scs" "tt_disres" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_mos_cap.scs" "tt_mos_cap" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_mos_cap_25.scs" "tt_mos_cap_25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rtmom.scs" "tt_rtmom" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_mim.scs" "tt_mim" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmvar.scs" "tt_rfmvar" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmvar_25.scs" "tt_rfmvar_25" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfjvar.scs" "tt_rfjvar" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfres_sa.scs" "tt_rfres_sa" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfres_rpo.scs" "tt_rfres_rpo" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfmim.scs" "tt_rfmim" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfrtmom.scs" "tt_rfrtmom" )
corSetCornerGroupVariant( "tsmcN65" "typ" "cor_rfind.scs" "tt_rfind" )
corSetCornerRunTempVal( "tsmcN65" "typ" 25 )


corAddCorner( "tsmcN65" "fast_best" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmos.scs" "ff_rfmos" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmos_18.scs" "ff_rfmos_18" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmos_25.scs" "ff_rfmos_25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmos_33.scs" "ff_rfmos_33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_std_mos.scs" "ff" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_hvt.scs" "ff_hvt" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_lvt.scs" "ff_lvt" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_18.scs" "ff_18" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_25.scs" "ff_25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_25ud18.scs" "ff_25ud18" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_25od33.scs" "ff_25od33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_33.scs" "ff_33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_na.scs" "ff_na" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_na25.scs" "ff_na25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_na25od33.scs" "ff_na25od33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_na33.scs" "ff_na33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_bip.scs" "ff_bip" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_bip_npn.scs" "ff_bip_npn" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio.scs" "ff_dio" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_hvt.scs" "ff_dio_hvt" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_lvt.scs" "ff_dio_lvt" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_18.scs" "ff_dio_18" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_25.scs" "ff_dio_25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_25ud18.scs" "ff_dio_25ud18" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_25od33.scs" "ff_dio_25od33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_33.scs" "ff_dio_33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_na.scs" "ff_dio_na" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_na25.scs" "ff_dio_na25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_na25od33.scs" "ff_dio_na25od33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_na33.scs" "ff_dio_na33" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_dnw.scs" "ff_dio_dnw" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_dio_esd.scs" "ff_dio_esd" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_res.scs" "ff_res" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_disres.scs" "ff_disres" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_mos_cap.scs" "ff_mos_cap" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_mos_cap_25.scs" "ff_mos_cap_25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rtmom.scs" "ff_rtmom" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_mim.scs" "ff_mim" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmvar.scs" "ff_rfmvar" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmvar_25.scs" "ff_rfmvar_25" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfjvar.scs" "ff_rfjvar" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfres_sa.scs" "ff_rfres_sa" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfres_rpo.scs" "ff_rfres_rpo" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfmim.scs" "ff_rfmim" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfrtmom.scs" "ff_rfrtmom" )
corSetCornerGroupVariant( "tsmcN65" "fast_best" "cor_rfind.scs" "ff_rfind" )
corSetCornerRunTempVal( "tsmcN65" "fast_best" -25 )


corAddCorner( "tsmcN65" "slow_worst" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmos.scs" "ss_rfmos" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmos_18.scs" "ss_rfmos_18" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmos_25.scs" "ss_rfmos_25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmos_33.scs" "ss_rfmos_33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_std_mos.scs" "ss" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_hvt.scs" "ss_hvt" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_lvt.scs" "ss_lvt" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_18.scs" "ss_18" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_25.scs" "ss_25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_25ud18.scs" "ss_25ud18" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_25od33.scs" "ss_25od33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_33.scs" "ss_33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_na.scs" "ss_na" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_na25.scs" "ss_na25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_na25od33.scs" "ss_na25od33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_na33.scs" "ss_na33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_bip.scs" "ss_bip" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_bip_npn.scs" "ss_bip_npn" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio.scs" "ss_dio" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_hvt.scs" "ss_dio_hvt" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_lvt.scs" "ss_dio_lvt" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_18.scs" "ss_dio_18" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_25.scs" "ss_dio_25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_25ud18.scs" "ss_dio_25ud18" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_25od33.scs" "ss_dio_25od33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_33.scs" "ss_dio_33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_na.scs" "ss_dio_na" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_na25.scs" "ss_dio_na25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_na25od33.scs" "ss_dio_na25od33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_na33.scs" "ss_dio_na33" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_dnw.scs" "ss_dio_dnw" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_dio_esd.scs" "ss_dio_esd" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_res.scs" "ss_res" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_disres.scs" "ss_disres" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_mos_cap.scs" "ss_mos_cap" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_mos_cap_25.scs" "ss_mos_cap_25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rtmom.scs" "ss_rtmom" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_mim.scs" "ss_mim" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmvar.scs" "ss_rfmvar" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmvar_25.scs" "ss_rfmvar_25" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfjvar.scs" "ss_rfjvar" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfres_sa.scs" "ss_rfres_sa" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfres_rpo.scs" "ss_rfres_rpo" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfmim.scs" "ss_rfmim" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfrtmom.scs" "ss_rfrtmom" )
corSetCornerGroupVariant( "tsmcN65" "slow_worst" "cor_rfind.scs" "ss_rfind" )
corSetCornerRunTempVal( "tsmcN65" "slow_worst" 75 )
